{
    "semi": true,
    "eslintIntegration": true,
    "singleQuote": false,
    "endOfLine": "lf",
    "tabWidth": 2,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": true,
    "vueIndentScriptAndStyle": true,
    "proseWrap": "preserve",
    "printWidth": 160
}
