{
  "semi": true,
  "proseWrap": "preserve",
  "singleQuote": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "vueIndentScriptAndStyle": true,
  "jsxBracketSameLine": true,
  "printWidth": 100
}
