/*
 * @Author: lx000
 * @Date: 2021-11-17 11:51:31
 * @LastEditTime: 2021-11-18 17:29:31
 * @Description: 全局样式
 */

html body {
  font-family: "OperatorMono", "MiMeng", "苹方-简", "Microsoft YaHei", sans-serif, monospace;
  /*  ? 优化字体显示 */
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: 0.5rem;
  overflow: hidden;
}
#app {
  animation: onStart 0.6s linear;
}
@keyframes onStart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 可拖动 */
.drag {
  -webkit-app-region: drag;
}

/* 不可拖动 */
.no-drag {
  -webkit-app-region: no-drag;
}

/* 文字不可被选择 */
.no-select {
  user-select: none;
}
