/*
 * @Author: lx000
 * @Date: 2021-11-16 15:50:33
 * @LastEditTime: 2021-11-17 21:48:10
 * @Description: 主窗口路由切换滚动动画
 */
.totop-enter-active,
.totop-leave-active,
.tobottom-enter-active,
.tobottom-leave-active {
  position: absolute;
}

/* ---------------------------  向下滚动动画 */
.tobottom-enter-active {
  animation: bottomenter .75s ease;
}

.tobottom-leave-active {
  animation: bottomleave .75s ease;
}

@keyframes bottomenter {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bottomleave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

/* ---------------------------  向上滚动动画 */
.totop-enter-active {
  animation: topenter 1s ease;
}

.totop-leave-active {
  animation: topleave 1s ease;
}

@keyframes topenter {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes topleave {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}