:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #242424;
}
/* 可拖动 */
.drag {
  -webkit-app-region: drag;
}

/* 不可拖动 */
.no-drag {
  -webkit-app-region: no-drag;
}
